// TABLE OF CONTENT
//
// 1. FONT-FAMILY
// 2. FONT COLORS
// 3. BACKGROUND-COLOR
// 4 GRADIENT

// *********************
// 1. FONT-FAMILY
// *********************
$primary-font: "Yanone Kaffeesatz", sans-serif;
$secondary-font: "Josefin Sans", sans-serif;
.primary-font {
  font-family: $primary-font;
}
.secondary-font {
  font-family: $primary-font;
}

// *********************
// 2. FONT COLORS
// *********************
$primary-color-1: #192a56;
$primary-color-2: #273c75;
$primary-color-3: #40739e;
$primary-color-4: #487eb0;
$primary-color-light-1: rgba($primary-color-1, 0.5);
$primary-color-light-2: rgba($primary-color-2, 0.5);
$primary-color-light-3: rgba($primary-color-3, 0.5);
$primary-color-light-4: rgba($primary-color-4, 0.5);
$secondary-color-1: #341f97;
$secondary-color-2: #5f27cd;
$secondary-color-3: #8c7ae6;
$secondary-color-4: #9c88ff;
$secondary-color-light-1: rgba($secondary-color-1, 0.5);
$secondary-color-light-2: rgba($secondary-color-2, 0.5);
$secondary-color-light-3: rgba($secondary-color-3, 0.5);
$secondary-color-light-4: rgba($secondary-color-4, 0.5);
$dark-color-1: #2d3436;
$dark-color-2: #000000;
$light-color-1: #fafafa;
$light-color-2: #ffffff;
$gray-color-1: #b2bec3;
$gray-color-2: #636e72;
$gray-color-light-1: rgba($gray-color-1, 0.5);
$gray-color-light-2: rgba($gray-color-2, 0.5);
$special-color-1: #e84393; // highlight color
$special-color-2: #009432; // gree
$special-color-3: #ee5a24; // orange
$special-color-4: #b53471; // red
$special-color-light-1: rgba($special-color-1, 0.3);
$special-color-light-2: rgba($special-color-2, 0.3);
$special-color-light-3: rgba($special-color-3, 0.3);
$special-color-light-4: rgba($special-color-4, 0.3);

// tous les fichiers styles des components a importer ici,
.primary-1 {
  color: $primary-color-1;
}
.primary-2 {
  color: $primary-color-2;
}
.primary-3 {
  color: $primary-color-3;
}
.primary-4 {
  color: $primary-color-4;
}

.secondary-1 {
  color: $secondary-color-1;
}
.secondary-2 {
  color: $secondary-color-2;
}
.secondary-3 {
  color: $secondary-color-3;
}
.secondary-4 {
  color: $secondary-color-4;
}

.special-1 {
  color: $special-color-1;
}
.special-2 {
  color: $special-color-2;
}
.special-3 {
  color: $special-color-3;
}
.special-4 {
  color: $special-color-4;
}

.dark-1 {
  color: $dark-color-1;
}
.dark-2 {
  color: $dark-color-2;
}

.light-1 {
  color: $light-color-1;
}
.light-2 {
  color: $light-color-2;
}

.gray-1 {
  color: $gray-color-1;
}
.gray-2 {
  color: $gray-color-2;
}
// *********************
// 3. BACKGROUND-COLOR
// *********************
.bg-primary-1 {
  background-color: $primary-color-1;
}
.bg-primary-2 {
  background-color: $primary-color-2;
}
.bg-primary-3 {
  background-color: $primary-color-3;
}
.bg-primary-4 {
  background-color: $primary-color-4;
}

.bg-primary-light-1 {
  background-color: $primary-color-light-1;
}
.bg-primary-light-2 {
  background-color: $primary-color-light-2;
}
.bg-primary-light-3 {
  background-color: $primary-color-light-3;
}
.bg-primary-light-4 {
  background-color: $primary-color-light-4;
}

.bg-secondary-1 {
  background-color: $secondary-color-1;
}
.bg-secondary-2 {
  background-color: $secondary-color-2;
}
.bg-secondary-3 {
  background-color: $secondary-color-3;
}
.bg-secondary-4 {
  background-color: $secondary-color-4;
}

.bg-secondary-light-1 {
  background-color: $secondary-color-light-1;
}
.bg-secondary-light-2 {
  background-color: $secondary-color-light-2;
}
.bg-secondary-light-3 {
  background-color: $secondary-color-light-3;
}
.bg-secondary-light-4 {
  background-color: $secondary-color-light-4;
}

.bg-special-1 {
  background-color: $special-color-1;
}
.bg-special-2 {
  background-color: $special-color-2;
}
.bg-special-3 {
  background-color: $special-color-3;
}
.bg-special-4 {
  background-color: $special-color-4;
}

.bg-special-light-1 {
  background-color: $special-color-light-1;
}
.bg-special-light-2 {
  background-color: $special-color-light-2;
}
.bg-special-light-3 {
  background-color: $special-color-light-3;
}
.bg-special-light-4 {
  background-color: $special-color-light-4;
}

.bg-dark-1 {
  background-color: $dark-color-1;
}
.bg-dark-2 {
  background-color: $dark-color-2;
}
.bg-light-1 {
  background-color: $light-color-1;
}
.bg-light-2 {
  background-color: $light-color-2;
}

.bg-gray-1 {
  background-color: $gray-color-1;
}
.bg-gray-2 {
  background-color: $gray-color-2;
}
.bg-gray-light-1 {
  background-color: $gray-color-light-1;
}
.bg-gray-light-2 {
  background-color: $gray-color-light-2;
}

.bg-highlight-primary {
  background-image: linear-gradient(
    to bottom,
    $light-color-1 50%,
    $primary-color-light-1 50%
  );
}
.bg-highlight-secondary {
  background-image: linear-gradient(
    to bottom,
    $light-color-1 50%,
    $secondary-color-light-1 50%
  );
}
.bg-highlight-gray {
  background-image: linear-gradient(
    to bottom,
    $light-color-1 50%,
    $gray-color-light-1 50%
  );
}
// *********************
// 3.2 GRADIENT
// *********************
.bg-gradient-1 {
  background-image: linear-gradient(
    to bottom,
    $primary-color-1,
    $primary-color-2
  );
}

.bg-gradient-2 {
  background-image: linear-gradient(
    to bottom,
    $secondary-color-1,
    $secondary-color-2
  );
}

.bg-gradient-3 {
  background-image: linear-gradient(to bottom, $gray-color-1, $gray-color-2);
}

// *********************
// 4. OTHER
// *********************
$little-border-radius: 4px;
$medium-border-radius: 8px;
$large-border-radius: 12px;
$xlarge-border-radius: 24px;

// ******* IMPORT FOR STYLEGUIDE VIEW ********
