.accordion {
  &.wrapper-border-primary {
    border-bottom: $primary-color-1 1px solid;
  }
  &.wrapper-border-secondary {
    border-bottom: $secondary-color-1 1px solid;
  }
  &.wrapper-border-gray {
    border-bottom: $gray-color-1 1px solid;
  }
  &.wrapper-border-dark {
    border-bottom: $dark-color-1 1px solid;
  }
  .icon-color-primary {
    color: $primary-color-1;
    &.active {
      color: $gray-color-1;
    }
  }
  .icon-color-secondary {
    color: $secondary-color-1;
    &.active {
      color: $gray-color-1;
    }
  }
  .icon-color-gray {
    color: $gray-color-1;
    &.active {
      color: $primary-color-1;
    }
  }
  .icon-color-dark {
    color: $dark-color-1;
    &.active {
      color: $gray-color-1;
    }
  }
  .icon-color-light {
    color: $light-color-1;
    &.active {
      color: $gray-color-1;
    }
  }

  &__icon {
    &.active {
      transform: rotate(90deg);
    }
  }

  @keyframes slideAccordion {
    from {
      max-height: auto;
    }
    to {
      max-height: 0;
    }
  }

  &__content {
    padding: 1rem 2.2rem;
    opacity: 1;
    transform-origin: top;
    transform: scaleY(1);
    &.close {
      animation: slideAccordion linear 90ms forwards;
      transform: scaleY(0);
      padding: 0rem 2.2rem;
      opacity: 0;
    }
  }
}
