.accordion {
  &.wrapper-border-primary {
    border-bottom: $primary-color 1px solid;
  }
  &.wrapper-border-secondary {
    border-bottom: $secondary-color 1px solid;
  }
  &.wrapper-border-ternary {
    border-bottom: $ternary-color 1px solid;
  }
  &.wrapper-border-quaternary {
    border-bottom: $quaternary-color 1px solid;
  }
  &.wrapper-border-quinary {
    border-bottom: $quinary-color 1px solid;
  }
  &.wrapper-border-sinary {
    border-bottom: $sinary-color 1px solid;
  }
  &.wrapper-border-gray {
    border-bottom: $gray-color 1px solid;
  }
  &.wrapper-border-gray {
    border-bottom: $gray-color 1px solid;
  }
  &.wrapper-border-dark {
    border-bottom: $dark-color 1px solid;
  }
  .icon-color-primary {
    color: $primary-color;
    &.active {
      color: $gray-color;
    }
  }
  .icon-color-secondary {
    color: $secondary-color;
    &.active {
      color: $gray-color;
    }
  }
  .icon-color-ternary {
    color: $ternary-color;
    &.active {
      color: $gray-color;
    }
  }
  .icon-color-quaternary {
    color: $quaternary-color;
    &.active {
      color: $gray-color;
    }
  }
  .icon-color-quinary {
    color: $quinary-color;
    &.active {
      color: $gray-color;
    }
  }
  .icon-color-sinary {
    color: $sinary-color;
    &.active {
      color: $gray-color;
    }
  }
  .icon-color-gray {
    color: $gray-color;
    &.active {
      color: $ternary-color;
    }
  }
  .icon-color-dark {
    color: $dark-color;
    &.active {
      color: $primary-color;
    }
  }
  .icon-color-light {
    color: $light-color;
    &.active {
      color: $sinary-color;
    }
  }

  &__icon {
    &.active {
      transform: rotate(90deg);
    }
  }

  @keyframes slideAccordion {
    from {
      max-height: auto;
    }
    to {
      max-height: 0;
    }
  }

  &__content {
    padding: 1rem 2.2rem;
    opacity: 1;
    transform-origin: top;
    transform: scaleY(1);
    &.close {
      animation: slideAccordion linear 90ms forwards;
      transform: scaleY(0);
      padding: 0rem 2.2rem;
      opacity: 0;
    }
  }
}
