// LINK USED FOR NAVIGATION AND ROUTER
.link-nav-title {
  @extend .headline1;
  color: $light-color-1;
}
// STYLE FOR MAIN NAV BAR
.link-nav-primary {
  font-size: 2.2rem;
  margin: auto 2rem;
  color: $light-color-1;
  &:hover {
    font-style: italic;
  }
  &.active {
    text-transform: uppercase;
  }
}

// STYLE FOR TABS NAV HORIZONTAL
.tab-nav {
  // margin-right: auto;
  border-bottom: 1px solid $gray-color-1;
}

.link-nav-secondary {
  display: inline-block;
  font-size: 2rem;
  padding-bottom: 0.4rem;
  text-transform: capitalize;
  border-bottom: 4px solid transparent;
  position: relative;
  top: 4px;
  &:hover,
  &.isActive {
    border-bottom: 4px solid $primary-color-1;
  }
}

.tab-nav-vertical {
  margin-left: auto;
  padding-right: 1rem;
  border-right: 1px solid $gray-color-1;
}

.link-nav-vertical {
  display: inline-block;
  font-size: 2rem;
  text-transform: capitalize;
  border-right: 4px solid transparent;
  padding-right: 0.7rem;
  position: relative;
  left: 14px;
  &:hover {
    border-right: 4px solid $primary-color-1;
  }
  &.isActive {
    border-right: 4px solid $primary-color-1;
  }
}
// GENERIC LINK
.link-light-bg {
  color: $dark-color-1;
}
.link-primary {
  @extend .link-light-bg;
  display: inline;
  font-size: 1.6rem;
  margin: auto;
  text-decoration: underline;
  &:hover {
    background-color: $gray-color-light-1;
  }
}
.link-secondary {
  @extend .link-light-bg;
  display: inline;
  margin: auto;
  font-size: 1.6rem;
  &:hover {
    @extend .bg-primary-light-1;
  }
}

// FOR DARK BACKGROUND
.link-dark-bg {
  color: $light-color-1;
}
.link-dark-primary {
  @extend .link-dark-bg;
  display: inline;
  font-size: 1.6rem;
  margin: auto;
  &:hover {
    text-decoration: underline;
  }
}
.link-dark-secondary {
  @extend .link-dark-bg;
  display: inline;
  margin: auto;
  font-size: 1.6rem;
  &:hover {
    @extend .bg-secondary-1;
  }
}

// BUTTON
.btn {
  display: flex;
  padding: 2rem;
  margin: 1rem auto;
  font-size: 1.3rem;
  transition: linear 300ms;
  border-radius: $medium-border-radius;
  text-transform: uppercase;
  align-items: center;
}

.btn-small {
  display: flex;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  font-size: 1.3rem;
  transition: linear 300ms;
  font-weight: 300;
  border-radius: $little-border-radius;
  text-transform: lowercase;
  align-items: center;
}
.btn-primary {
  background-color: $primary-color-1;
  color: $light-color-1;
  &:hover {
    background-color: $gray-color-1;
  }
}
// FILLED
.btn-primary-filled {
  @extend .btn;
  @extend .btn-primary;
}

.btn-primary-filled-small {
  @extend .btn-small;
  @extend .btn-primary;
}

.btn-secondary {
  background-color: $secondary-color-1;
  color: $light-color-1;
  &:hover {
    background-color: $gray-color-1;
  }
}
.btn-secondary-filled {
  @extend .btn;
  @extend .btn-secondary;
}

.btn-secondary-filled-small {
  @extend .btn-small;
  @extend .btn-secondary;
}

.btn-warning {
  background-color: $special-color-4;
  color: $light-color-1;
  &:hover {
    background-color: $gray-color-1;
  }
}
.btn-warning-filled {
  @extend .btn;
  @extend .btn-warning;
}

.btn-warning-filled-small {
  @extend .btn-small;
  @extend .btn-warning;
}

.btn-validation {
  background-color: $special-color-2;
  color: $light-color-1;
  &:hover {
    background-color: $gray-color-1;
  }
}
.btn-validation-filled {
  @extend .btn;
  @extend .btn-validation;
}

.btn-validation-filled-small {
  @extend .btn-small;
  @extend .btn-validation;
}

// OUTLINED
.btn-primary-2 {
  @extend .btn;
  background-color: transparent;
  color: $primary-color-1;
  border: 2px solid $primary-color-1;
  &:hover {
    background-color: $primary-color-light-1;
    color: $dark-color-1;
  }
}
.btn-primary-outlined {
  @extend .btn;
  @extend .btn-primary-2;
}

.btn-primary-outlined-small {
  @extend .btn-small;
  @extend .btn-primary-2;
}

.btn-secondary-2 {
  background-color: transparent;
  color: $secondary-color-1;
  border: 2px solid $secondary-color-1;
  &:hover {
    background-color: $secondary-color-light-1;
    color: $dark-color-1;
  }
}
.btn-secondary-outlined {
  @extend .btn;
  @extend .btn-secondary-2;
}

.btn-secondary-outlined-small {
  @extend .btn-small;
  @extend .btn-secondary-2;
}

.btn-warning-2 {
  background-color: transparent;
  color: $special-color-1;
  border: 2px solid $special-color-1;
  &:hover {
    background-color: $special-color-light-1;
    color: $dark-color-1;
  }
}
.btn-warning-outlined {
  @extend .btn;
  @extend .btn-warning-2;
}

.btn-warning-outlined-small {
  @extend .btn-small;
  @extend .btn-warning-2;
}

.btn-validation-2 {
  background-color: transparent;
  color: $special-color-1;
  border: 2px solid $special-color-1;
  &:hover {
    background-color: $special-color-light-1;
    color: $dark-color-1;
  }
}

.btn-validation-outlined {
  @extend .btn;
  @extend .btn-validation-2;
}

.btn-validation-outlined-small {
  @extend .btn-small;
  @extend .btn-validation-2;
}

// BUTTON FOR DARK BACKGROUND
// FILLED
.btn-dark-primary {
  background-color: $primary-color-1;
  color: $light-color-1;
  &:hover {
    background-color: $primary-color-light-1;
  }
}
.btn-dark-primary-filled {
  @extend .btn;
  @extend .btn-dark-primary;
}

.btn-dark-primary-filled-small {
  @extend .btn-small;
  @extend .btn-dark-primary;
}

.btn-dark-secondary {
  background-color: $secondary-color-1;
  color: $light-color-1;
  &:hover {
    background-color: $secondary-color-light-1;
  }
}
.btn-dark-secondary-filled {
  @extend .btn;
  @extend .btn-dark-secondary;
}

.btn-dark-secondary-filled-small {
  @extend .btn-small;
  @extend .btn-dark-secondary;
}

.btn-dark-warning {
  background-color: $special-color-4;
  color: $light-color-1;
  &:hover {
    background-color: $special-color-light-4;
  }
}
.btn-dark-warning-filled {
  @extend .btn;
  @extend .btn-dark-warning;
}

.btn-dark-warning-filled-small {
  @extend .btn-small;
  @extend .btn-dark-warning;
}

.btn-dark-validation {
  background-color: $special-color-2;
  color: $light-color-1;
  &:hover {
    background-color: $special-color-light-2;
  }
}
.btn-dark-validation-filled {
  @extend .btn;
  @extend .btn-dark-validation;
}

.btn-dark-validation-filled-small {
  @extend .btn-small;
  @extend .btn-dark-validation;
}

// OUTLINED
.btn-dark-primary-2 {
  background-color: transparent;
  color: $light-color-1;
  border: 2px solid $primary-color-1;
  &:hover {
    background-color: $primary-color-light-1;
  }
}
.btn-dark-primary-outlined {
  @extend .btn;
  @extend .btn-dark-primary-2;
}

.btn-dark-primary-outlined-small {
  @extend .btn-small;
  @extend .btn-dark-primary-2;
}

.btn-dark-secondary-2 {
  background-color: transparent;
  color: $light-color-1;
  border: 2px solid $secondary-color-1;
  &:hover {
    background-color: $secondary-color-light-1;
  }
}
.btn-dark-secondary-outlined {
  @extend .btn;
  @extend .btn-dark-secondary-2;
}

.btn-dark-secondary-outlined-small {
  @extend .btn-small;
  @extend .btn-dark-secondary-2;
}

.btn-dark-warning-2 {
  background-color: transparent;
  color: $light-color-1;
  border: 2px solid $special-color-4;
  &:hover {
    background-color: $special-color-light-4;
    color: $light-color-1;
  }
}

.btn-dark-warning-outlined {
  @extend .btn;
  @extend .btn-dark-warning-2;
}

.btn-dark-warning-outlined-small {
  @extend .btn-small;
  @extend .btn-dark-warning-2;
}

.btn-dark-validation-2 {
  background-color: transparent;
  color: $light-color-1;
  border: 2px solid $special-color-2;
  &:hover {
    background-color: $special-color-light-2;
  }
}

.btn-dark-validation-outlined {
  @extend .btn;
  @extend .btn-dark-validation-2;
}

.btn-dark-validation-outlined-small {
  @extend .btn-small;
  @extend .btn-dark-validation-2;
}
